<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Youtube checker</title>

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

</head>

<body>
    <div class="gray-bg container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <h2>
                                Check if chanel already exists on : <span class="text-navy">Youtube</span>
                            </h2>
                            <div class="search-form">
                                {{ form_start(form) }}
                                    <div class="input-group">
                                        {{ form_widget(form.query, {'attr': {'class': 'form-control input-lg'}}) }}
                                        {#<input type="text" placeholder="Admin Theme" name="search" class="form-control input-lg">#}
                                        <div class="input-group-btn">
                                            {{ form_widget(form.search, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                                        </div>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                            <div class="hr-line-dashed"></div>
                            {% if items|length > 0 %}
                                {% for item in items %}
                                    <div class="row">
                                        <div class="col-md-9">
                                                <div class="search-result">
                                                    <h3><a href="#">{{ item.snippet.title }}</a></h3>
                                                    <a href="https://www.youtube.com/user/{{ item.snippet.title }}" target="_blank" class="search-link">https://www.youtube.com/user/{{ item.snippet.title }}</a>
                                                    <p>{{ item.snippet.description }} </p>
                                                </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div style="float: none;margin: 0 auto;">
                                                <img src="{{ item.snippet.thumbnails.default.url }}">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="text-center">
                                    <span style="font-size: 20px;color: red">Not found</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('js/inspinia.js') }}"></script>

</body>

</html>
